body {
	position:		relative;
	margin:			0px;
	padding:		0px;
}

.bg {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			1002px;
	height:			805px;
	top:			15px;
	left:			50%;
	margin:			0 0 0 -500;
	padding:		0 0 0 0;
	background:		gray;
}

.header {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			990px;
	height:			70px;
	margin:			5 5 5 5;
	padding:		0 0 0 0;
	background:		white;
}

.sub_body {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			990px;
	height:			678px;
	margin:			0 5 5 5;
	padding:		0 0 0 0;
	background:		white;
}

.footer {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			96.8%;
	height:			26px;
	margin:			0 5 0 5;
	padding:		6 10 0 10;
	background:		white;
}

.logo {
	position:		relative;
	width:			680px;
	height:			54px;
	margin:			5 5 0 10;
	padding:		10 0 0 10;
	float:			left;
}

.account {
	position:		relative;
	width:			270px;
	height:			60px;
	margin:			5 10 0 5;
	padding:		5 0 0 0;
	float:			right;
}

.left_body {
/*	border-style:	solid;
	border-color:	red;
	border-width:	1px;
*/	position:		relative;
	width:			730px;
	height:			668px;
	margin:			3 3 3 3;
	float:			left;
}

.navi {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			65%;
	height:			30px;
	margin:			0 0 0 0;
	padding:		15 5 5 13;
	float:			left;
}

.search {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			30%;
	height:			30px;
	margin:			0 0 0 0;
	padding:		15 5 5 6;
	float:			right;
}

.content {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			98.4%;
	height:			90.6%;
	margin:			3 0 0 0;
	padding:		5 5 5 5;
	clear:			both;
	float:			left;
}

.category {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			238px;
	height:			97.4%;
	margin:			3 3 0 0;
	padding:		5 5 5 5;
	float:			right;
}