body {
	position:		relative;
	margin:			0px;
	padding:		0px;
}

.bg {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			1002px;
	height:			815px;
	top:			15px;
	left:			50%;
	margin:			0 0 0 -500;
	padding:		0 0 0 0;
	background:		gray;
}

.header {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			990px;
	height:			70px;
	margin:			5 5 5 5;
	padding:		0 0 0 0;
	background:		white;
}

.sub_body {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			990px;
	height:			686px;
	margin:			0 5 5 5;
	padding:		0 0 0 0;
	background:		white;
}

.footer {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
/*	width:			96.8%;*/
	width:			970px;
	height:			26px;
	margin:			0 5 0 5;
	padding:		7 10 0 10;
	background:		white;
}

.logo {
	border-style:	solid;
	border-color:	orange;
	border-width:	0px;
	position:		relative;
	width:			680px;
/*	height:			100%;*/
	margin:			0 0 0 0;
	padding:		13 0 10 10;
	float:			left;
}

.account {
	border-style:	solid;
	border-color:	orange;
	border-width:	1px;
	position:		relative;
	width:			260px;
/*	height:			58px;*/
	margin:			0 0 0 10;
	padding:		0 0 0 0;
	float:			right;
}

.left_body {
	border-style:	solid;
	border-color:	red;
	border-width:	1px;
	position:		relative;
	width:			730px;
/*	height:			668px;*/
	margin:			0 0 0 0;
	padding:		0 0 0 0;
	float:			left;
}

.top_body {
	border-style:	solid;
	border-color:	blue;
	border-width:	0px;
	position:		relative;
	width:			990px;
	margin:			0;
	padding:		0;
	float:			left;
}

.btm_body {
	border-style:	solid;
	border-color:	green;
	border-width:	1px;
	position:		relative;
	width:			970px;
	margin:			0;
	padding:		0;
	clear:			left;
}

.navi {
	border-style:	solid;
	border-color:	black;
	border-width:	0px;
	position:		relative;
	width:			715px;
/*	height:			50px;*/
	margin:			10 0 10 10;
/*	padding:		15 5 5 13;*/
	padding:		0 0 0 0;
	float:			left;
}

.search {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			240px;
	height:			40px;
	margin:			10 10 10 10;
	padding:		0 0 0 0;
	float:			right;
	text-align:		center;
}

.content {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			686px;
	height:			583px;
	margin:			0 0 10 10;
	padding:		15;
	clear:			both;
	float:			left;
/*	text-align:		center;*/
}

#tag_cloud {
	border-style:	solid;
	border-color:	blue;
	border-width:	0px;
	position:		relative;
	margin:			0;
	padding:		0;
}

.category {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	float:			right;
	width:			240px;
	height:			613px;
	margin:			0 10 10 10;
	padding:		0;
}