body {
	position:		relative;
	margin:			0px;
	padding:		0px;
}

.bg {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			1102px;
	height:			815px;
	top:			15px;
	left:			50%;
	margin:			0 0 0 -550;
	padding:		0 0 0 0;
	background:		gray;
}

.header {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			1090px;
	height:			70px;
	margin:			5 5 5 5;
	padding:		0 0 0 0;
	background:		white;
}

.sub_body {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			1090px;
	height:			686px;
	margin:			0 5 5 5;
	padding:		0 0 0 0;
	background:		white;
}

.footer {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
/*	width:			96.8%;*/
	width:			1070px;
	height:			26px;
	margin:			0 5 0 5;
	padding:		7 10 0 10;
	background:		white;
}

.logo {
	border-style:	solid;
	border-color:	orange;
	border-width:	0px;
	position:		relative;
	width:			680px;
/*	height:			100%;*/
	margin:			0 0 0 0;
	padding:		13 0 10 10;
	float:			left;
}

.msg {
	margin:			8 5 6 0px;
}

.account {
	border-style:	solid;
	border-color:	orange;
	border-width:	0px;
	position:		relative;
	width:			260px;
/*	height:			58px;*/
	margin:			0 0 0 10;
	padding:		3 5 2 0;
	float:			right;
}

.top_body {
	border-style:	solid;
	border-color:	red;
	border-width:	0px;
	position:		relative;
	width:			1090px;
	margin:			0;
	padding:		0;
	float:			left;
}

.navi {
	border-style:	solid;
	border-color:	blue;
	border-width:	0px;
	position:		relative;
	width:			775px;
/*	height:			50px;*/
	margin:			10 0 10 10;
/*	padding:		15 5 5 13;*/
	padding:		0 0 0 0;
	float:			left;
}

.search {
	border-style:	solid;
	border-color:	blue;
	border-width:	0px;
	position:		relative;
	width:			280px;
	height:			30px;
	margin:			10 10 10 10;
	padding:		2 0 0 0;
	float:			right;
}

.search-box {
    background: url(../img/searchbar.png) no-repeat scroll left top transparent;
    height: 30px;
    margin-top: 0px;
    overflow: hidden;
    /*width: 288px;*/
	width: 278px;
	border: 0 none;
}

.search-field {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #666666;
    float: left;
	font-family:tahoma;
    height: 31px;
    line-height: 26px;
    margin: 0;
    padding: 1px 0 0 14px;
    /*width: 232px;*/
	width: 236px;
}
input.search-go {
    background: url(../img/searchbar.png) no-repeat scroll right 0 transparent;
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 42px;
}

.content {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	width:			1048px;
	height:			603px;
	margin:			0 0 10 10;
	padding:		10;
	clear:			both;
	float:			left;
/*	text-align:		center;*/
}

#tag_cloud {
	border-style:	solid;
	border-color:	blue;
	border-width:	0px;
	position:		relative;
	margin:			0;
	padding:		0;
	float:			left;
}

#category {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	position:		relative;
	float:			right;
	width:			270px;
	height:			590px;
	margin:			0;
	padding:		0;
}

#div_timeline {
	border-style:	solid;
	border-color:	black;
	border-width:	1px;
	width:			730px;
	height:			480px;
	position:		relative;
	float:			left;
	max-height : 480px;
	overflow: auto;
	font-size : 15pt;
}

#div_google {
	position:		relative;
	padding-top:		8px;
	padding-left: 3px;
	float:			left;
}

#div_twitter {
	position:		absolute;
	top: 0px;
	right:0px;
	float:			right;
}

#div_timeline ul {
list-style-type: none;
-webkit-padding-start: 0px;
}

#div_timeline li {
margin-top:4px;
margin-bottom :4px;


}

.timeline_day{
padding-top : 5px;
padding-bottom: 5px;

}
.timeline_day:hover{
background-color: #AADBFF;


}

.timeline_day a:hover {
color: black;

}



.hidden {
 display: none;
}

.item{ color: blue;

}
.popularity{ 
color:red;
padding:3px;
}


