body {
	font-family:	verdana;
	color:			black;
}

.header {

}

.sub_body {

}

.footer {
	color:			gray;
}

.logo {
	font-size:		35px;
}

.account {
	
}

.navi {
	font-size:		18px;
}

.msg {
	font-family:verdana;
	font-size:12px;	
}