<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />

	<link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" />
	
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/whatnow.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/account.js"></script>

	<title>[CS457] Web-base Software Development - WhatNOW</title>

</head>
<body>
	<div class="bg">
		<div class="header">
			<div class="logo" align="left">
				WhatNOW?!
			</div>
			<div class="account" align="right">
			
			{% if not sessionIsOpen%}
			
			<div class="user_box">
				<a href="#d_login" name="modal">
					<input class="button black" type="button" value="Login" name="Login"/>
				</a>
				<a href="#d_register" name="modal">
					<input class="button black" type="button" value="Register" name="Register"/>
				</a>
				<div id="boxes" align="left">
					<!-- Start of Login Dialog -->  
					<div id="d_login" class="window">
						<form action="/security/signin/" method="POST">
							{% csrf_token %}
							<div class="d-header">
								<input type="text" value="login" name="login" onclick="this.value=''"/><br/>
								<input type="password" value="password" name="password" onclick="this.value=''"/>    
							</div>
							<div class="d-blank"></div>
							<div class="d-login">
								<input type="image" alt="Login" title="Login" src="{{ MEDIA_URL }}img/login-button.png"/>
							</div>
						</form>
					</div>
					<!-- End of Login Dialog -->  

					<!-- Start of Register Dialog -->
					<div id="d_register" class="window">
						<form action="/register/" method="POST">
						{% csrf_token %}
							<fieldset>
							<legend>Register form</legend>
							<div>
								<span class="label">User ID</span>
								<input type="text" class="userid" name="registerLogin" />
								<!-- <span class="error">Only numeral, character or _(underscore)</span> -->
							</div>
							<div>
								<span class="label">Password</span>
								<input type="password" class="password" name="registerPassword" />
								<!-- <span class="error">Cannot be blank</span> -->
							</div>
							<div>
								<span class="label">Confirm Password</span>
								<input type="password" class="confpass" name="confpass" />
								<!-- <span class="error">It doesn't match</span> -->
							</div>
							<div>
								<span class="label">E-mail</span>
								<input type="text" class="email" name="registerEmail" />
								<!-- <span class="error">Invaild E-mail Address</span> -->
							</div>
							<br>
							<div align="right">
								<input id="submit" class="button black" type="submit" value="OK" />
								<a href="#"class="close"/>
									<input type="button" class="button black" name="Close" value="Close" />
								</a>
							</div>
							</fieldset>
						</form>
					</div>
					<!-- End of Register Dialog -->
					<div class="msg" align="right">
						{% if message %}
						{{ message }}
						{% else %}
						Please login/register
						{% endif %}	
					</div>
				</div>
			</div>
			
			{% else %}
			
			<div class="msg">
				Welcome <b>{{ user.login }}</b>!
			</div>
			<div align="right">
				<form action="/security/signout/" method="POST">
					{% csrf_token %}
					<input type="submit" class="button black" value="Sign out"/>
				</form>
			</div>
			
			{% endif %}
			
			</div>
		</div>
		<div class="sub_body">
			<div class="top_body">
				<div class="navi">
					<ul id="breadcrumb">
						<li><a href="" title="Home">
							<img src="{{ MEDIA_URL }}img/home.png" alt="Home" class="home" />
						</a></li>
						<li class="navi_rst hidden" id="navigation">Timeline articles</li>
					</ul>
				</div>
				<input type="button" class="button black" id="add_fav" value="add favorite"/>
				
				<div class="search">
					<div class="search-box">
						<form method="get" action="/timeline/" target="content" onsubmit="submitCallback();">
							{% csrf_token %}
							<input size="15" class="search-field" name="key" id="key" value="Search.." onfocus="if(this.value == 'Search..') {this.value = ''; this.style.border='0px solid red';}" onblur="if (this.value == '') {this.value = 'Search..';this.style.border='0px solid red';}" type="text">
							<input value="" class="search-go" type="submit"> 
						</form>
					</div>				
				</div>
			</div>
				<div class="content">
				
					<!-- contents: cloud & time-line results -->
					<iframe src="/content/" name="content" frameborder=0 bordercolor=black width=1048 height=592 marginheight=0 marginwidth=0>
					</iframe>
				</div>
		</div>
		<div class="footer">
			<div style="float:left">CS457 Web-base Software Development</div>
			<div style="float:right">Team project by <b>WhatNOW</b></div>
		</div>
	</div>

	<!-- Mask to cover the whole screen -->
	<div id="mask"></div>
</body>
</html>
